<style>h1 {text-align: center};</style>
<h1 style="text-align:center; font-weight: bolder; font-size: bolder;">FitPro Inc</h1>
<mat-toolbar class="menu-bar">
    <ul>
        <li><a></a></li>
        <li><a class="nav-link"  (click)="navigate('')">Homepage</a></li>
        <li><a class="nav-link" (click)="navigate('diet')">Dietary plans</a></li>
        <li><a class="nav-link" (click)="navigate('food')">Food Products</a></li>
        <li><a class="nav-link" (click)="navigate('help')">Help</a></li>
        <li><a (click)="navigate('forum')">Forum</a></li>
        <li><a (click)="logout()">Logout</a></li>
        <li><button (click)="toggleDarkTheme()">Light/Darktheme</button></li>
    </ul>
</mat-toolbar>
