<!-- <p>{{ details.Food }}</p> -->

<div class="flex">
    <img
      style="width: 200px"
      src="http://localhost/{{ details.image }}"
      alt="img"
    />
    <!-- <mat-card> -->
    <!-- <mat-card-content> -->
    <div class="details">
      <p>
        Name of Product: {{ details.Food }}
        <br />
        Measure: {{ details.Measure }}
        <br />
        Grams Quantity: {{ details.Grams }}
        <br />
        Calories: {{ details.Calories }}
        <br />
        Protien Percentage(%): {{ details.Protein }}
        <br />
        Fat Percentage(%): {{ details.Fat }}
        <br />
        Fiber Percentage(%): {{ details.Fiber }}
        <br />
        Carbs Percentage(%): {{ details.Carbs }}
        <br />
      </p>
    </div>
  </div>
  
  <!-- </mat-card-content>
  
  </mat-card> -->
  
  
  
  <p class="para">
 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur modi, corporis numquam vero soluta omnis necessitatibus eveniet ratione, culpa obcaecati qui fugit illo temporibus porro. Laudantium labore eos fugiat excepturi?
 Aut ducimus, nulla cum omnis modi ipsum minus aliquid quis adipisci sint! Officia quae ducimus at rerum totam minima ratione! Fugiat vero delectus voluptas, vel neque eius nisi quas architecto?
 Earum, officia expedita id sed explicabo ut dicta inventore possimus deserunt, libero quae. Tempore, quam. Molestias, cupiditate similique obcaecati, est possimus veniam facere maxime, maiores corrupti ad quo quia quas?
 Quibusdam quaerat corporis deleniti accusantium dolore laudantium cupiditate fugiat placeat adipisci ducimus maxime vero numquam iure ad repudiandae eum rerum voluptates illum, autem alias eius hic. A, eos iusto. Reprehenderit.
  </p>