.details {
    border: 2px solid grey;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  img {
    border: 2px solid black;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px; 
  }
  
  
  
  .flex {
  
    display: flex;
  
  }
  
  
  
  .para {
  
    height: 500px;
  
    width: 500px;
  
    padding: 40px;
  
  }