<!-- <p>{{ details.Food }}</p> -->

<div class="flex">
    <img
      style="width: 200px"
      src="http://localhost/{{ details.image }}"
      alt="img"
    />
    <!-- <mat-card> -->
    <!-- <mat-card-content> -->
    <div class="details">
      <p>
        Name of Product: {{ details.Food }} 
        <br />
        Measure: {{ details.Measure }}
        <br />
        Grams Quantity: {{ details.Grams }} g
        <br />
        Calories: {{ details.Calories }} cal or kcal
        <br />
        Protien Percentage(%): {{ details.Protein }} g
        <br />
        Fat Percentage(%): {{ details.Fat }} g
        <br />
        Fiber Percentage(%): {{ details.Fiber }} g
        <br />
        Carbs Percentage(%): {{ details.Carbs }} g 
        <br />
      </p>
    </div>
  </div>
  
  <!-- </mat-card-content>
  
  </mat-card> -->
  
  
  
  <p class="para">
    Dairy products or milk products, also known as lacticinia, are food products made from (or containing) milk. The most common dairy animals are cow, water buffalo, nanny goat, and ewe. Dairy products include common grocery store food items in the Western world such as yogurt, cheese and butter.</p>