<!-- <div id="login-card" *ngIf="logform">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <div class="col-md-5 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
                <div class="featured-image mb-3">
                    <img src="http://localhost/fitpro.png" class="img-fluid" style="width: 250px;">
                    <p>be verified</p>
                    <small>join experienced desinged on this platform</small>
                </div>
            </div>
            <div class="col-md-5 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h1 style="font-weight: bold; color: black;">WELCOME TO FITPRO!!!</h1>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="email" placeholder="Email id">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="password" placeholder="Password">
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-primary w-100 fs-6" (click)="login()">Login</button>
                    </div>
                    <div class="row" (click)="toggle()">
                        <small style="cursor : pointer ; text-align:center; color: darkblue">Dont have an account sign up here</small>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>

<div id="login-card" *ngIf="!logform"></div>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <div class="col-md-5 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
            <div class="featured-image mb-3">
                <img src="http://localhost/fitpro.png" class="img-fluid" style="width: 250px;">
                <p>be verified</p>
                <small>join experienced desinged on this platform</small>
            </div>
        </div>
        <div class="col-md-5 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-4">
            <P>REGISTER AS A NEW USER</P>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="rusername" placeholder="Username">
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="rpassword" placeholder="Password">
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="vpassword" placeholder="Re-enter Password">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="remail" placeholder="email id">
        </div>
        <div class="input-group mb-3">
            <button class="btn btn-lg btn-primary w-100 fs-6" (click)="register()">Register</button>
        </div>
        
        
    </div>

</div>
    </div>
</div> -->

<div id="login-card" *ngIf="logform">
    <div id="image-left"><img src="http://localhost/fitpro.png" alt=""></div>
   
        <table id="log-table">
             <tr>
                 <th>Email</th>
                 <td><input type="text" [(ngModel)]="email"></td>
             </tr>
             <tr>
                 <th>Password</th>
                 <td><input type="password" [(ngModel)]="password"></td>
             </tr>
             <tr>
                 
                 <td colspan=2 
                     style="text-align:center"><button  (click)="login()">Login</button></td>
             </tr>
             <tr>
                 
                 <td colspan=2 
                     style="text-align:center; color: lightgreen" (click)="toggle()">Not Registered yet? Click here</td>
             </tr>
        </table>
        <div class="loading" *ngIf="status"><img src="http://localhost/loading.gif"></div>
        <div class="errors">{{error}}</div>
        
    </div>


    <div id="login-card" *ngIf="!logform">
        <div id="image-left"><img src="http://localhost/fitpro.png" alt=""></div>

            <table id="log-table">
                 <tr>
                     <th>Username</th>
                     <td><input type="text" [(ngModel)]="rusername"></td>
                 </tr>
                 <tr>
                     <th>Password</th>
                     <td><input type="password" [(ngModel)]="rpassword"></td>
                 </tr>

                 <tr>
                    <th>Verify Password</th>
                    <td><input type="password" [(ngModel)]="vpassword"></td>
                </tr>

                <tr>
                    <th>Email</th>
                    <td> <input type="text" [(ngModel)]="remail"></td>
                </tr>
                 <tr>
                     
                     <td colspan=2 
                         style="text-align:center"><button (click)="register()">Register</button></td>
                 </tr>
                 <tr>
                     
                     <td colspan=2 
                         style="text-align:center; color: lightgreen" (click)="toggle()">Not Registered yet? Click here</td>
                 </tr>
            </table>
            <div class="loading" *ngIf="status"><img src="http://localhost/loading.gif"></div>
            <div class="errors">{{rerror}}</div>
    </div>