/* .details {
    border: 2px solid grey;
    width: 550px;
    height: 200px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }
  

.flex {
display: flex;
border: 2px solid grey;
width: 750px;
height: 350px;
padding: 20px;
margin-left: 20px;
margin-top: 20px;
  }

.img-card{
    border: 2px solid grey;
    width: 550px;
    height: 200px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
} */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.img-card {
  flex-shrink: 0;
  margin-right: 20px;
}

.details {
  flex-grow: 1;
}

.details p {
  margin: 0;
  font-weight: bold;
}

.details h2 {
  margin-top: 10px;
  font-size: 24px;
}

.para {
  margin: 10px 0;
  font-size: 18px;
}