<!-- <mat-card>
    <div class="images">
        <img src="http://localhost/{{ details.image }}">
    </div>
<div class="total">
    <div class="prod-title">
        <p>{{ details.Food}}</p>    
    </div>
    <mat-card-content>
    <div class="me">
        <p>Measure:{{ details.Measure }}</p>
        <p>Grams:{{ details.Grams }}</p>
        <p>Calories:{{ details.Calories }}</p>
        <p>Protein:{{ details.Protein }}</p>
        <p>Fats:{{ details.Fat }}</p>
        <p>Fiber:{{ details.Fiber }}</p>
        <p>Carbs:{{ details.Carbs }}</p>       
        </div>
    </mat-card-content>
</div>  
</mat-card> -->