
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 500px;
}


label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}


input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
 
option
{display: block;
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.ng-invalid.ng-touched + label {
  color: #dc3545;
}

