<app-mainpage></app-mainpage>
<router-outlet></router-outlet>
<div class="container">
    <div class="row">
         <div class="search-food col-md-2">
            <input type = 'text' name="search" [(ngModel)]="searchText" placeholder="Search by food items">
        </div> 
        <div class="col-md-3">
            <button class="btn btn-success" [routerLink]="'/add-diet-plan'">Add</button>
        </div> 
        
    </div>
</div> 

<div class="container">
    <table class = 'table table-trapped'>
        <thead>
            <tr>
                <th>FOOD</th>
                <th>CATEGORY</th>
                <th>MEASURE</th>
                <th>GRAMS</th>
                <th>CALORIES</th>
                <th>PROTEIN</th>
                <th>FAT</th>
                <th>FIBER</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let data of gdata | filter : searchText ">
                <td>{{data.Food}}</td>
                <td>{{data.Category}}</td>
                <td>{{data.Measure}}</td>
                <td>{{data.Grams}}</td>
                <td>{{data.Calories}}</td>
                <td>{{data.Protein}}</td>
                <td>{{data.Fat}}</td>
                <td>{{data.Fiber}}</td>
                <td> <button (click)="removeItem(data.id)"class="btn btn-danger" > <i class="material-icons ">delete</i></button></td>
            </tr>
        </tbody>
    </table>
</div>


<!-- <app-mainpage></app-mainpage> 
<router-outlet></router-outlet>  -->

<!-- <div class="container">
    <div class="row">
        <mat-toolbar>
        <div class="search-food col-md-2">
            <input type = 'text' name="search" [(ngModel)]="searchText" placeholder="Search by food items">
        </div> 
        </mat-toolbar> 
        <div class="col-md-3">
            <button class="btn btn-success" (click)="addDietPlan()">Add</button>
        </div>
    </div>
</div> 

<div class="container">
    <table class = 'table table-trapped'>
        <thead>
            <tr>
                <th>FOOD</th>
                <th>CATEGORY</th>
                <th>MEASURE</th>
                <th>GRAMS</th>
                <th>CALORIES</th>
                <th>PROTEIN</th>
                <th>FAT</th>
                <th>FIBER</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let data of gdata | filter : searchText ">
                <td>{{data.Food}}</td>
                <td>{{data.Category}}</td>
                <td>{{data.Measure}}</td>
                <td>{{data.Grams}}</td>
                <td>{{data.Calories}}</td>
                <td>{{data.Protein}}</td>
                <td>{{data.Fat}}</td>
                <td>{{data.Fiber}}</td>
            </tr>
        </tbody>
    </table>
</div> -->